doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='js/script.js')
    title #{title}
    link(href='/stylesheets/favicon.ico' rel='icon' type='image/x-icon')

  body
    block content
