doctype html
html
  head
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='js/script.js')
    title Rejes
    title= title
  body
    block content
